*Makefile
autom4te.cache/
config.guess.cdbs-orig
config.log
config.status
config.sub.cdbs-orig
data/Makefile
debian/files
debian/libtempi-0.1-0.debhelper.log
debian/libtempi-0.1-0.substvars
debian/libtempi-0.1-0/
debian/libtempi-0.1-dev.debhelper.log
debian/libtempi-0.1-dev.substvars
debian/libtempi-0.1-dev/
debian/libtempi-0.1-doc.debhelper.log
debian/libtempi-0.1-doc.substvars
debian/libtempi-0.1-doc/
debian/stamp-autotools
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/tempi-utils.debhelper.log
debian/tempi-utils.substvars
debian/tempi-utils/
debian/tmp/
doc/Makefile
doxyfile
doxyfile.stamp
html/
libtool
src/Makefile
src/midilooper/.libs/
src/midilooper/Makefile
src/midilooper/midilooper
src/midilooper/midilooper-main.o
src/osc-forward/.libs/
src/osc-forward/Makefile
src/osc-forward/osc-forward
src/osc-forward/osc_forward-main.o
src/tempi-draw/.libs/
src/tempi-draw/Makefile
src/tempi-draw/tempi-draw
src/tempi-draw/tempi_draw-main.o
src/tempi-draw/tempi_draw-particlegenerator.o
src/tempi-draw/tempi_draw-sampler.o
tempi-0.1.pc
tempi/.libs/
tempi/Makefile
tempi/base/.deps/
tempi/base/.dirstamp
tempi/base/.libs/
tempi/base/libtempi_0.1_la-anynode.lo
tempi/base/libtempi_0.1_la-anynode.o
tempi/base/libtempi_0.1_la-appsinknode.lo
tempi/base/libtempi_0.1_la-appsinknode.o
tempi/base/libtempi_0.1_la-baselibrary.lo
tempi/base/libtempi_0.1_la-baselibrary.o
tempi/base/libtempi_0.1_la-counternode.lo
tempi/base/libtempi_0.1_la-counternode.o
tempi/base/libtempi_0.1_la-metro_node.lo
tempi/base/libtempi_0.1_la-metro_node.o
tempi/base/libtempi_0.1_la-nop_node.lo
tempi/base/libtempi_0.1_la-nop_node.o
tempi/base/libtempi_0.1_la-prependnode.lo
tempi/base/libtempi_0.1_la-prependnode.o
tempi/base/libtempi_0.1_la-print_node.lo
tempi/base/libtempi_0.1_la-print_node.o
tempi/fsm/.deps/
tempi/fsm/.dirstamp
tempi/fsm/.libs/
tempi/fsm/libtempi_0.1_la-rule.lo
tempi/fsm/libtempi_0.1_la-rule.o
tempi/fsm/libtempi_0.1_la-state.lo
tempi/fsm/libtempi_0.1_la-state.o
tempi/fsm/libtempi_0.1_la-statemachine.lo
tempi/fsm/libtempi_0.1_la-statemachine.o
tempi/libtempi-0.1.la
tempi/libtempi_0.1_la-graph.lo
tempi/libtempi_0.1_la-graph.o
tempi/libtempi_0.1_la-internals.lo
tempi/libtempi_0.1_la-internals.o
tempi/libtempi_0.1_la-message.lo
tempi/libtempi_0.1_la-message.o
tempi/libtempi_0.1_la-node.lo
tempi/libtempi_0.1_la-node.o
tempi/libtempi_0.1_la-nodefactory.lo
tempi/libtempi_0.1_la-nodefactory.o
tempi/libtempi_0.1_la-scheduler.lo
tempi/libtempi_0.1_la-scheduler.o
tempi/libtempi_0.1_la-sink.lo
tempi/libtempi_0.1_la-sink.o
tempi/libtempi_0.1_la-source.lo
tempi/libtempi_0.1_la-source.o
tempi/libtempi_0.1_la-tempi.lo
tempi/libtempi_0.1_la-tempi.o
tempi/libtempi_0.1_la-threadedscheduler.lo
tempi/libtempi_0.1_la-threadedscheduler.o
tempi/libtempi_0.1_la-timeposition.lo
tempi/libtempi_0.1_la-timeposition.o
tempi/libtempi_0.1_la-timer.lo
tempi/libtempi_0.1_la-timer.o
tempi/libtempi_0.1_la-utils.lo
tempi/libtempi_0.1_la-utils.o
tempi/mapping/.deps/
tempi/mapping/.dirstamp
tempi/mapping/.libs/
tempi/mapping/libtempi_0.1_la-filter.lo
tempi/mapping/libtempi_0.1_la-filter.o
tempi/mapping/libtempi_0.1_la-slide.lo
tempi/mapping/libtempi_0.1_la-slide.o
tempi/mapping/libtempi_0.1_la-slidefilter.lo
tempi/mapping/libtempi_0.1_la-slidefilter.o
tempi/midi/.deps/
tempi/midi/.dirstamp
tempi/midi/.libs/
tempi/midi/libtempi_0.1_la-midiinput.lo
tempi/midi/libtempi_0.1_la-midiinput.o
tempi/midi/libtempi_0.1_la-midilibrary.lo
tempi/midi/libtempi_0.1_la-midilibrary.o
tempi/midi/libtempi_0.1_la-midioutput.lo
tempi/midi/libtempi_0.1_la-midioutput.o
tempi/midi/libtempi_0.1_la-midireceivernode.lo
tempi/midi/libtempi_0.1_la-midireceivernode.o
tempi/midi/libtempi_0.1_la-midisendernode.lo
tempi/midi/libtempi_0.1_la-midisendernode.o
tempi/osc/.deps/
tempi/osc/.dirstamp
tempi/osc/.libs/
tempi/osc/libtempi_0.1_la-osclibrary.lo
tempi/osc/libtempi_0.1_la-osclibrary.o
tempi/osc/libtempi_0.1_la-oscreceiver.lo
tempi/osc/libtempi_0.1_la-oscreceiver.o
tempi/osc/libtempi_0.1_la-oscreceivernode.lo
tempi/osc/libtempi_0.1_la-oscreceivernode.o
tempi/osc/libtempi_0.1_la-oscsender.lo
tempi/osc/libtempi_0.1_la-oscsender.o
tempi/osc/libtempi_0.1_la-oscsendernode.lo
tempi/osc/libtempi_0.1_la-oscsendernode.o
tempi/sampler/.deps/
tempi/sampler/.dirstamp
tempi/sampler/.libs/
tempi/sampler/libtempi_0.1_la-loopingplayback.lo
tempi/sampler/libtempi_0.1_la-loopingplayback.o
tempi/sampler/libtempi_0.1_la-marker.lo
tempi/sampler/libtempi_0.1_la-marker.o
tempi/sampler/libtempi_0.1_la-pingpongplayback.lo
tempi/sampler/libtempi_0.1_la-pingpongplayback.o
tempi/sampler/libtempi_0.1_la-player.lo
tempi/sampler/libtempi_0.1_la-player.o
tempi/sampler/libtempi_0.1_la-recorder.lo
tempi/sampler/libtempi_0.1_la-recorder.o
tempi/sampler/libtempi_0.1_la-region.lo
tempi/sampler/libtempi_0.1_la-region.o
tempi/sampler/libtempi_0.1_la-samplerlibrary.lo
tempi/sampler/libtempi_0.1_la-samplerlibrary.o
tempi/sampler/libtempi_0.1_la-samplernode.lo
tempi/sampler/libtempi_0.1_la-samplernode.o
tempi/sampler/libtempi_0.1_la-score.lo
tempi/sampler/libtempi_0.1_la-score.o
tempi/sampler/libtempi_0.1_la-simpleplayback.lo
tempi/sampler/libtempi_0.1_la-simpleplayback.o
tempi/sampler/libtempi_0.1_la-track.lo
tempi/sampler/libtempi_0.1_la-track.o
tempi/stamp-h1
tempi/table/.deps/
tempi/table/.dirstamp
tempi/table/.libs/
tempi/table/libtempi_0.1_la-table.lo
tempi/table/libtempi_0.1_la-table.o
tempi/table/libtempi_0.1_la-table_player.lo
tempi/table/libtempi_0.1_la-table_player.o
tempi/table/libtempi_0.1_la-table_writer.lo
tempi/table/libtempi_0.1_la-table_writer.o
tests/Makefile
